body {
    color: #eeeeee;
    background-color: #222831;
    padding: 2em;
}

a, a:link {
    transition: color .3s ease;
    color: #5fc7cc;
    outline: 0;
}

a:hover {
    color: #eeeeee;
}

.view {
    width: 50vw;
    min-width: 320px;
    margin:auto;
}

.box {
    background-color: #393e46;
    border-radius: 4px;
    padding: 8px;
    margin: 6px;
}

p {
    margin: 6px;
    padding-bottom: 4px;
    font-style: italic;
}

.button, .button:link {
    transition: background-color .3s ease, color .3s ease;
    padding: 8px 12px 8px 8px;
    margin: 4px;
    border-radius: 4px;
    text-decoration: none;
    background-color: #00adb5;
    color: #eeeeee;
}

.button:hover {
    background-color: #088c94;
    color: #b2dee0;
}

.up-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.navigation > a:link {
    text-decoration: none;
}

.package-name {
    margin-bottom: 0;
}

.description {
    margin: 1.5em 0;
}

.description > p {
    margin: 0;
}
