<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PackageExplorer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="view" id="title">
        <h1>Installed packages</h1>

        <div class="navigation">
            {% for label in packages %}
                <a href="#{{ label }}">{{ label }}</a>
            {% endfor %}
        </div>

        {% for label, package_list in packages.items() %}
            <div class="box" id="{{ label }}">
                <b>{{ label }}</b>

                <ul>
                    {% for package in package_list %}
                        <li><a href="{{ url_for('get_package', package_name=package) }}">{{ package }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

    <a class="up-button button" href="#">Top</a>
</body>
</html>