<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PackageExplorer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <a class="button" href="{{ url_for('index') }}">&laquo; back to installed packages list</a>
    <div class="view">
        <h1 class="package-name">{{ package["name"] }}</h1>

        {# Render the first line of description as a subheader #}
        {% set description_blocks = package["description"].split("\n") %}
        <i>{{ description_blocks[0] }}</i>

        {# Render other lines of description #}
        <div class="description">
            {% for line in description_blocks[1:] %}
                {% if line == '.' %}
                    {# Render lines containing only a dot as breaks #}
                    <br>
                {% else %}
                    <p>{{ line }}</p>
                {% endif %}
            {% endfor %}
        </div>

        <div class="box">
            <b>Dependencies:</b>
            <ul>
                {% if package["dependencies"] %}
                    {% for package in package["dependencies"] %}
                        <li><a href="{{ url_for('get_package', package_name=package) }}">{{ package }}</a></li>
                    {% endfor %}
                {% else %}
                    none
                {% endif %}
            </ul>
        </div>

        <div class="box">
            <b>Reverse dependencies:</b>
            <ul>
                {% if package["reverse_dependencies"] %}
                    {% for package in package["reverse_dependencies"] %}
                        <li><a href="{{ url_for('get_package', package_name=package) }}">{{ package }}</a></li>
                    {% endfor %}
                {% else %}
                    none
                {% endif %}
            </ul>
        </div>
    </div>
</body>
</html>